Language: ObjC
BasedOnStyle: Google

IndentWidth: 2
ObjCBlockIndentWidth: 2
ContinuationIndentWidth: 2

# For ObjC, the line limit is 100
ColumnLimit: 100

# Allow short case statements to be on a single line
AllowShortCaseLabelsOnASingleLine: true

AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline

# Allow spaces in NSArray/NSDictionary literals @[ and @{
SpacesInContainerLiterals: true

# For pointers, always put the * next to the variable name.
DerivePointerAlignment: false
PointerAlignment: Right


---
Language: Cpp
Standard: Cpp11

BasedOnStyle: Google

# For C++, the line limit is 80
ColumnLimit: 80
