<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>v0.1-CURRENT</string>
	<key>WatchItems</key>
	<dict>
    <!-- Note the current config supports one path per rule, requiring -->
    <!-- related paths be split across multiple rules.-->
		<key>my_watcher_path1</key>
		<dict>
			<key>Path</key>
			<string>/Users/*/path1</string>
			<key>WriteOnly</key>
			<false/>
			<key>IsPrefix</key>
			<false/>
			<key>AuditOnly</key>
			<false/>
			<key>AllowedBinaryPaths</key>
			<array>
				<string>/bin/cat</string>
			</array>
			<key>AllowedTeamIDs</key>
			<array>
				<string>EQHXZ8M8AV</string>
			</array>
			<key>AllowedCDHashes</key>
			<array>
				<string>7123c34930eba59a371ce445bcdadc717f0defdf</string>
			</array>
			<key>AllowedCertificatesSha256</key>
			<array>
				<string>d84db96af8c2e60ac4c851a21ec460f6f84e0235beb17d24a78712b9b021ed57</string>
			</array>
		</dict>
		<key>my_watcher_path2</key>
		<dict>
			<key>Path</key>
			<string>/Users/*/path2</string>
			<key>WriteOnly</key>
			<false/>
			<key>IsPrefix</key>
			<true/>
			<key>AuditOnly</key>
			<false/>
			<key>AllowedBinaryPaths</key>
			<array>
				<string>/bin/cat</string>
			</array>
			<key>AllowedTeamIDs</key>
			<array>
				<string>EQHXZ8M8AV</string>
			</array>
			<key>AllowedCDHashes</key>
			<array>
				<string>7123c34930eba59a371ce445bcdadc717f0defdf</string>
			</array>
			<key>AllowedCertificatesSha256</key>
			<array>
				<string>d84db96af8c2e60ac4c851a21ec460f6f84e0235beb17d24a78712b9b021ed57</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
