<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.application-identifier</key>
	<string>$(TeamIdentifierPrefix)com.google.santa.daemon</string>
	<key>com.apple.developer.team-identifier</key>
	<string>EQHXZ8M8AV</string>
	<key>com.apple.developer.endpoint-security.client</key>
	<true/>
</dict>
</plist>
