<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
				<key>Label</key>
				<string>com.google.santasync</string>
				<key>ProgramArguments</key>
				<array>
					<string>/Library/Extensions/santa-driver.kext/Contents/MacOS/santactl</string>
					<string>sync</string>
				</array>
				<key>StandardErrorPath</key>
				<string>/var/log/santa.log</string>
				<key>ProcessType</key>
				<string>Background</string>
				<key>StartInterval</key>
				<integer>600</integer>
</dict>
</plist>
