<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
				<key>Label</key>
				<string>com.google.santad</string>
				<key>ProgramArguments</key>
				<array>
					<string>/Library/Extensions/santa-driver.kext/Contents/MacOS/santad</string>
					<string>--syslog</string>
				</array>
				<key>MachServices</key>
				<dict>
					<key>SantaXPCControl</key>
					<true/>
				</dict>
				<key>RunAtLoad</key>
				<true/>
				<key>KeepAlive</key>
				<true />
				<key>ProcessType</key>
				<string>Interactive</string>
</dict>
</plist>
