<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.google.santa.bundleservice</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Santa.app/Contents/MacOS/santabundleservice</string>
		<string>--syslog</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.google.santa.bundleservice</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ThrottleInterval</key>
	<integer>0</integer>
</dict>
</plist>
