<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Google, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.santad</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleVersion</key>
	<string>TO.BE.FILLED</string>
	<key>CFBundleShortVersionString</key>
	<string>TO.BE.FILLED</string>
</dict>
</plist>
