<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHumanReadableCopyright</key>
	<string>Google, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.SantaGUI</string>
	<key>CFBundleName</key>
	<string>Santa</string>
	<key>CFBundleExecutable</key>
	<string>Santa</string>
	<key>CFBundleVersion</key>
	<string>${SANTA_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANTA_VERSION}</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_VERSION_MIN}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
</dict>
</plist>
